html, body {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}

.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
}

.navbarClass {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 2;
}

.landingClass {
  width: 100%;
  height: auto;
}

.aboutClass {
  width: 100%;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #161618;
}

.productsClass {
  width: 100%;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #161618;
}