html, body {
    width: 100%;
    color: aliceblue;
}

.NavbarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;

    backdrop-filter: blur(10px);
    mask: linear-gradient(white 90%, transparent);
}

.nameContain {
    margin-left: 50px;
    margin-top: 30px;
}

.nameContain h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    transition: ease-in-out .3s;
}

.nameContain h1:hover {
    transition: ease-in-out .3s;
    cursor: cell;
    color: rgb(192, 204, 215);
}

.rightSideNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-right: 30px;
}

.navButton {
    transition: ease-in-out 0.3s;
    align-self: center;
    justify-content: center;
    margin-right: 20px;
    background-color: transparent;
    border: 0;
    font-size: 22px;
    font-weight: 900;
}

.navButton:hover {
    transition: ease-in-out 0.3s;
    cursor: pointer;
    height: auto;
    padding-bottom: 3px;
    color: rgb(192, 204, 215);
}